<div id="<%= dom_id movie %>">
  <p>
    <strong>Title:</strong>
    <%= movie.title %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= movie.customer.name %>
  </p>

</div>

<!-- linea 9 antes decia customer_id-->