<div id="<%= dom_id movie %>">
  <p>
    <strong>Titulo:</strong>
    <%= movie.title %>
  </p>

  <% if movie.customer.present? %>
  <p> <b>Clientes de <%= movie.title %>:</b> </p>
  <ul>
    <li><%= movie.customer.name %></li>
  </ul>
  <% else %>
  <p> <b>No tiene clientes aún</b> </p>
  <% end %>
</div>



<!-- linea 9 antes decia customer_id-->