<div class="container">
  <div class="row">
    <div class="col-8">
      <%= image_tag '16.jpg', class: "img-fluid", alt:"blockbuster", style: "width: 900px; height: 500px; object-fit: cover; margin-bottom: 40px;" %>
    </div>

    <div class="col-4">
      <h1>Nueva Película</h1>
      <%= render "form", movie: @movie %>
      <br>
      <div>
        <%= link_to "Volver a todas las películas", movies_path %>
      </div>
    </div>
  </div>
</div>