<div id="<%= dom_id customer %>">
  <p>
    <strong>Nombre:</strong>
    <%= customer.name %>
  </p>

  <p>
    <strong>Rut:</strong>
    <%= customer.tin %>
  </p>

  <p>
    <strong>Correo:</strong>
    <%= customer.email %>
  </p>

</div>